body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.headerBg {
  background-color: rgba(27, 58, 77, 1);
  padding: 45px;
}

.header2Bg {
  background-color: rgba(27, 58, 77, 1);
  padding: 15px;
}

.headerBg h1 {
  text-align: center;
}





