body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.headerBg {
  
  padding: 45px;
}

.header2Bg {
  padding: 15px;
}

.headerBg h1 {
  text-align: center;
}

.height-adjust-30 {
  padding-bottom: 30px;
}
.height-adjust-180 {
  padding-bottom: 180px;
}

.height-adjust-375 {
  padding-bottom: 375px;
}
.height-adjust-60 {
  padding-bottom: 60px;
}

/* background-color: rgba(27, 58, 77, 1); */





